<div id="todo_item">
	<p>
		<%= todo_item.content %><br>
		<%= "Priority:" %>
		<%= todo_item.priority %><br>
		<%= "Due By: " %>
		<%= todo_item.duedate%><br>
		<%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id),
		method: :delete, data: { confirm: "Are you sure?" } %>
	</p>
</div>